# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.idea
/www/lib
/res/screen/android/screen-hdpi-landscape.png
/res/screen/android/screen-hdpi-portrait.png
/res/screen/android/screen-ldpi-landscape.png
/res/screen/android/screen-ldpi-portrait.png
/res/screen/android/screen-mdpi-landscape.png
/res/screen/android/screen-mdpi-portrait.png
/res/screen/android/screen-xhdpi-landscape.png
/res/screen/android/screen-xhdpi-portrait.png
/res/screen/ios/screen-iphone-portrait-2x.png
/res/screen/ios/screen-ipad-landscape.png
/res/screen/ios/screen-ipad-landscape-2x.png
/res/screen/ios/screen-ipad-portrait.png
/res/screen/ios/screen-ipad-portrait-2x.png
/res/screen/ios/screen-iphone-landscape.png
/res/screen/ios/screen-iphone-landscape-2x.png
/res/screen/ios/screen-iphone-portrait.png
/res/icons/android/icon-36-ldpi.png
/res/icons/android/icon-48-mdpi.png
/res/icons/android/icon-72-hdpi.png
/res/icons/android/icon-96-xhdpi.png
/res/icons/android/icon-144-xxhdpi.png
/res/icons/android/icon-192-xxxhdpi.png
/res/icons/ios/icon-2x.png
/res/icons/ios/icon-40.png
/res/icons/ios/icon-40-2x.png
/res/icons/ios/icon-50.png
/res/icons/ios/icon-50-2x.png
/res/icons/ios/icon-60.png
/res/icons/ios/icon-60-2x.png
/res/icons/ios/icon-60-3x.png
/res/icons/ios/icon-72.png
/res/icons/ios/icon-72-2x.png
/res/icons/ios/icon-76.png
/res/icons/ios/icon-76-2x.png
/res/icons/ios/icon-small.png
/res/icons/ios/icon-small-2x.png
